.header {
    width: 100vw;
    height: 6vh;
    background-color: ghostwhite;
    border-bottom: 1px solid black;
}

.header-title {
    font-weight: 500;
    margin-left: 2vh;
    line-height: 6vh;
    vertical-align: middle;
}

.Main {
    background-color: ghostwhite;
    width: 100vw;
    height: 94vh;
}