* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.header {
    width: 100vw;
    height: 100vh;
    background-color: ghostwhite;
    text-align: center;
    border-bottom: 1px solid black;
}

.Logo {
    color: black;
    font-size: 50px;
    text-decoration: none;
    font-weight: 500;
    line-height: 100vh;
    vertical-align: middle;
    display: inline;
}


.main {
    height: 100vh;
    width: 100vw;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
}

.inner_container {
    height: 60vh;
    width: 60vw;
    background-color: ghostwhite;
    display: block;
    margin: auto auto;
    border: 1px solid black;
    transition: all .2s;
    text-align: center;
}

.inner_container:hover {
    box-shadow: 5px 5px 0 0 black;
}

.container_title {
    font-weight: 500;
    font-size: 50px;
    margin-top: 20px;
}

.container_text {
    font-weight: 500;
    font-size: 25px;
    line-height: 80px;
    vertical-align: middle;
}

.footer {
    width: 100vw;
    height: 15vh;
    border-top: 1px solid black;
    background-color: ghostwhite;
}

.footer_text {
    line-height: 15vh;
    vertical-align: middle;
}

.ButtonBox {
    width: 30vw;
    height: 50px;
    background-color: burlywood;
    margin: auto;
    margin-top: 100px;
}

.RegisterButton {
    font-size: 20px;
    /*justify-content: space-around;*/
    color: black;
    background-color: ghostwhite;
    border: 1px solid black;
    width: 80px;
    height: 40px;
}

.LoginButton {
    font-size: 20px;
    /* justify-content: space-around; */
    color: black;
    background-color: ghostwhite;
    border: 1px solid black;
    /*margin-left: auto;*/
    width: 80px;
    height: 40px;
}