.main {
    height: 100vh;
    width: 100vw;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
}

.inner_container {
    height: 70vh;
    width: 60vw;
    background-color: ghostwhite;
    display: block;
    margin: auto auto;
    border: 1px solid black;
    transition: all .2s;
    text-align: center;
    overflow-y: hidden;
}

.inner_container:hover {
    box-shadow: 5px 5px 0 0 black;
}

.container_title {
    font-weight: 500;
    font-size: 50px;
    margin-top: 20px;
}

.container_text {
    font-weight: 500;
    font-size: 25px;
    line-height: 80px;
    vertical-align: middle;
}

.footer {
    width: 100vw;
    height: 15vh;
    border-top: 1px solid black;
    background-color: ghostwhite;
}

.footer_text {
    line-height: 15vh;
    vertical-align: middle;
}

.ButtonBox {
    width: 32.5vw;
    height: 60px;
    /*background-color: burlywood;*/
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.RequestButton {
    font-size: 20px;
    font-weight: 500;
    /*justify-content: space-around;*/
    color: black;
    background-color: ghostwhite;
    border: 1px solid black;
    width: 85px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    transition: all .2s;
    overflow-y: hidden;
    margin: auto;
    text-decoration: none;
}
.AuthButton {
    font-size: 20px;
    font-weight: 500;
    /*justify-content: space-around;*/
    color: black;
    background-color: ghostwhite;
    border: 1px solid black;
    width: 85px;
    height: 50px;
    line-height: 50px;
    display: block;
    vertical-align: middle;
    transition: all .2s;
    overflow-y: hidden;
    margin: auto;
    text-decoration: none;
}
.RequestButton:hover, .AuthButton:hover{
    box-shadow: 2.5px 2.5px 0 0 black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    /*background-color: burlywood;*/
    font-weight: 500;
}

.MacForm {
    padding: 10px;
    width: 60%;
    height: 30%;
}

.MacInput {
    width: 100%;
    height: 60%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}

.AmountForm {
    padding: 10px;
    width: 60%;
    height: 30%;
}

.AmountInput {
    width: 100%;
    height: 60%;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
}
